@tailwind base;
@tailwind components;
@tailwind utilities;


.container-projects {
    position: sticky;
    border-color: white;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}









